swagger: "2.0"
info:
  description: "Banka-lite is a light-weight core banking application that powers banking operations like account creation, customer deposit and withdrawals.  You can find out more about Banka-lite at [http://banka-lite.io](http://banka-lite.io)."
  version: "1.0.0"
  title: "Banka-Lite"
  contact:
    email: "odunayobukky1@gmail.com"
  license:
    name: "MIT"
host: "banka-lite.io"
basePath: "/v1"
tags:
- name: "Authentication"
  description: "Registers users, Signin users,Forgot user password, Reset user password."
- name: "User"
  description: "Operations about a user"
- name: "Superadmin"
  description: "Operations of an admin"
- name: "Admin"
  description: "Operations of a cashier"
schemes:
- "https"
- "http"
paths:
  /auth/signup:
    post:
      tags:
      - "Authentication"
      summary: "Registers a new user to the bank"
      description: "User can register"
      operationId: "auth/signUp"
      consumes:
      - "application/json"
      produces:
      - "application/xml"
      parameters:
      - in: "body"
        name: "body"
        description: "User object that needs to be added to the bank"
        required: true
        schema:
          $ref: "#/definitions/UserSignUp"
      responses:
        405:
          description: "Invalid input"
      security:
      - user_auth:
        - "write:users"
        - "read:users"

  /auth/signin:
    post:
      tags:
      - "Authentication"
      summary: "Signs in an existing user"
      description: " Already registered user can access their account"
      operationId: "auth/signIn"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User object that needs to be signed into their account"
        required: true
        schema:
          $ref: "#/definitions/UserSignIn"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "User not found"
        405:
          description: "Validation exception"
      security:
      - petstore_auth:
        - "write:users"
        - "read:users"

definitions:
  UserSignUp:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"

  UserSignIn:
    type: "object"
    properties:
      email:
        type: "string"
      password:
        type: "string"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Banka-Lite"
  url: "http://banka-lite.io"